{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Completa la Palabra</title>
  <link rel="stylesheet" href="{% static 'CSS/completar_palabra.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<script>
  document.cookie = "csrftoken={{ csrf_token }}";
</script>

<body>

  <button id="pausaBtn" class="button"> | | </button>


  <div id="modalOverlay" class="modal-overlay"></div>
  <div class="container" id="modalPausa">
    <div class="input-field">
      <input type="button" value="Continuar" class="button-input" onclick="togglePausa()">
      <a class="button-input" href="{% url 'niño:cerrar_juego' %}">Salir</a>
    </div>
  </div>


  <main class="contenido-juego">
    <h1>¡Completa la Palabra!</h1>


    <div class="cuadro-juego">
      <img id="imagenGuia" src="" alt="Guía visual" class="imagen-guia">
      <div class="palabra" id="contenedorPalabra"></div>
      <div id="contenedorLetras" class="letras-disponibles" ondrop="soltar(event)" ondragover="permitirSoltar(event)"></div>
      <button id="btnVerificar" onclick="verificarRespuesta()">Verificar</button>
    </div>
  </main>


  <div id="ventanaSiguienteNivel" class="ventana-nivel-oculta">
    <div class="contenedor-ventana">
      <button id="btnSiguienteNivel" class="btn-nivel" onclick="irSiguiente()">
        <span id="texto-btn-nivel">Siguiente palabra</span>
        <span class="flecha">➔</span>
      </button>
    </div>
  </div>


  <div id="mensaje-flotante"></div>


  <audio id="musicaJuegos" loop autoplay>
    <source src="{% static 'musica/castle (mp3cut.net).mp3' %}" type="audio/mpeg">
    Tu navegador no soporta audio HTML5.
  </audio>


  <script>
    const jsonUrl = "{% static 'json/niveles.json' %}?v={{ now|date:'U' }}";
    const urlNivelesDisgrafia = "{% url 'niño:niveles_disgrafia' %}";
    const guardarUrl = "{% url 'niño:guardar_progreso' %}";
    const frameUrl = "{% url 'niño:recibir_frame' %}";
  </script>


  <script src="{% static 'JS/deteccion_camara.js' %}"></script>
  <script src="{% static 'JS/completar_palabra.js' %}" defer></script>
</body>
</html>
