{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Juegos Educativos</title>
  <link rel="stylesheet" href="{% static 'CSS/juegos_Styles.css' %}">
    <script src="{% static 'JS/juegos.js' %}" defer></script>

</head>
<body>
  <h1>¡Elige un juego y empieza a divertirte! </h1>

  <div class="game-card-wrapper">
       {% if juego == "Ordena las palabras" %}
      <a href="{% url 'niño:niveles_disgrafia' %}" class="game-card traza-y-gana-card">
        <span class="game-icon">
          <img src="{% static 'img/lapiz.png' %}" alt="lapiz" class="pencil-image-icon">
        </span>
        <span class="game-name">Ordena las palabras</span>
      </a>
     {% elif juego == "Cuenta conmigo" %}
      <a href="{% url 'niño:niveles_discalculia' %}" class="game-card cuenta-conmigo-card">
        <span class="game-numbers">
          <img src="{% static 'img/numero.png' %}" alt="numero" class="numero-image-icon">
        </span>
        <span class="game-name">Vamos a multiplicar</span>
      </a>
    {% elif juego == "Desafío de concentración" %}
           <a href="{% url 'niño:niveles_cartas' %}" class="game-card desafio-concentracion-card">
                 <span class="game-icon">
                <div class="traffic-light-body">
                    <img src="{% static 'img/semaforof.png' %}" alt="semaforo" class="semaforo-image-icon">
                </div>
                </span>
        <span class="game-name">Desafío de concentración</span>

                 </a>

    {% else %}
      <p>No se encontró un juego recomendado para esta discapacidad.</p>
    {% endif %}

  </div>
  <br />
  <a href="{% url 'niño:dashboardKid' %}" class="back-link">&#8592;</a>
     <!-- 🎵 Música del template de juegos -->
  <audio id="musicaJuegos" loop autoplay>
    <source src="{% static 'musica/musica_fondoparaentretiempos.mp3' %}" type="audio/mpeg">
    Tu navegador no soporta audio HTML5.
  </audio>

</body>
</html>