{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear Cuenta - Eduflex</title>
  <link rel="stylesheet" href="{% static 'CSS/signup.css' %}">
</head>
{% block content %}
<body>
  <div class="logo">
    <img src="{% static 'img/logo.png' %}" alt="Logo Eduflex">
  </div>

  <form method="post" class="container">
    {% csrf_token %}

    <div class="regresar">
      <a href="{% url 'accounts:rol' %}" class="boton-recuperar">←</a>
    </div>

    <h2>CREAR CUENTA</h2>

    <div class="field">
      {{ form.nombres.label_tag }}
      {{ form.nombres }}
      {{ form.nombres.errors }}
    </div>

    <div class="field">
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="field">
      {{ form.apellidos.label_tag }}
      {{ form.apellidos }}
      {{ form.apellidos.errors }}
    </div>

    <div class="field">
      {{ form.fecha_nac.label_tag }}
      {{ form.fecha_nac }}
      {{ form.fecha_nac.errors }}
    </div>

    <div class="field">
      {{ form.genero.label_tag }}
      {{ form.genero }}
    </div>

    <div class="field">
      {{ form.contraseña.label }}
      {{ form.contraseña }}
      {{ form.contraseña.errors }}
    </div>

    <div class="field">
      {{ form.usuario.label_tag }}
      {{ form.usuario }}
      {{ form.usuario.errors }}
    </div>

    <div class="field">
      {{ form.confirmar_contraseña.label_tag }}
      {{ form.confirmar_contraseña }}
      {{ form.confirmar_contraseña.errors }}
    </div>

    <div class="full-width">
      <button type="submit" class="btn">Crear</button>
    </div>
  </form>
</body>
{% endblock %}
<script>
  setTimeout(() => {
    document.querySelectorAll('.errorlist').forEach(el => {
      el.classList.add('fade-out');
      setTimeout(() => el.style.display = 'none', 600);
    });
  }, 4000);
</script>
</html>
